fastapi
uvicorn
langchain
langchain-core
langchain-community
langchain-chroma
python-dotenv
litellm
chromadb
python-multipart
pypdf
langchain-together
sqlalchemy
async-property
python-dotenv
pydantic-settings
psycopg2-binary