fastapi
uvicorn
langchain
langchain-core
langchain-community
langchain-openai
langchain-chroma
python-dotenv
litellm
chromadb
sentence_transformers
python-multipart
numpy
beautifulsoup4
pypdf
langchain-together
sqlalchemy